grant codeBase "http://@@vhdllab.server@@:@@vhdllab.port@@/@@vhdllab.name@@/-" {
  permission java.util.PropertyPermission "org.apache.commons.logging.LogFactory.HashtableImpl", "read";
};
