<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This is a server configuration file. It defines all file types that server
	recognizes and associates various actions based on those types.
-->
<server>
	<!-- A fileTypeMapping defined a file type that server recognizes -->
	<fileTypeMapping type="vhdl.source" />
	<fileTypeMapping type="vhdl.testbench" />
	<fileTypeMapping type="vhdl.schema" />
	<fileTypeMapping type="vhdl.automaton" />
	<fileTypeMapping type="preferences.user" />
</server>
