<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>VHDLLab</display-name>
  <description>
      The VHDLLab application
    </description>

  <!-- Application events listeners start -->

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>
    <listener-class>hr.fer.zemris.vhdllab.service.init.LibraryInitializationListener</listener-class>
  </listener>

  <!-- Application events listeners end -->

  <!-- Application filters start -->

  <filter>
    <filter-name>entity-manager-fer-request</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>entity-manager-fer-request</filter-name>
    <url-pattern>/remoting/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>log-request-headers</filter-name>
    <filter-class>hr.fer.zemris.vhdllab.web.LogRequestHeadersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log-request-headers</filter-name>
    <url-pattern>/remoting/*</url-pattern>
  </filter-mapping>

  <!-- Application filters end -->

  <!-- JSPC servlet mappings start -->


  <servlet>
    <servlet-name>remoting</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoting</servlet-name>
    <url-pattern>/remoting/*</url-pattern>
  </servlet-mapping>




  <!-- JSPC servlet mappings end -->
  <!-- Security constraints start -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>VHDLLAB</web-resource-name>
      <description>Require users to authenticate</description>
      <url-pattern>/remoting/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Define who can access this url-pattern</description>
      <role-name>student</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <!--
        For now transport guarantee is set to NONE but once server is
        deployed it should be CONFIDENTIAL
      -->
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>

  <security-role>
    <description>Student role (can use vhdllab)</description>
    <role-name>student</role-name>
  </security-role>
  <security-role>
    <description>Administrator role (also can use
        vhdllab)</description>
    <role-name>admin</role-name>
  </security-role>
  <!-- Security constraints end -->

</web-app>
