<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************************
  See the NOTICE file distributed with this work for additional information
  regarding copyright ownership.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
**************************************************************************** -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5" metadata-complete="true">

  <display-name>VHDLLab</display-name>

  <!-- Application events listeners start -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- Application events listeners end -->

  <!-- Application filters start -->
  <filter>
    <filter-name>entity-manager-per-request</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>entity-manager-per-request</filter-name>
    <url-pattern>/remoting/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>log-request-headers</filter-name>
    <filter-class>hr.fer.zemris.vhdllab.web.LogRequestHeadersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log-request-headers</filter-name>
    <url-pattern>/remoting/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Application filters end -->

  <!-- Servlet mappings start -->
  <servlet>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JnlpDownloadServlet</servlet-name>
    <url-pattern>*.jnlp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>remoting</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoting</servlet-name>
    <url-pattern>/remoting/*</url-pattern>
  </servlet-mapping>
  <!-- Servlet mappings end -->


  <!-- Security constraints start -->
  <security-role>
    <role-name>student</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>n_osoblje</role-name>
  </security-role>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Preauth Realm</realm-name>
  </login-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Remoting (service) area</web-resource-name>
      <url-pattern>/remoting/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>student</role-name>
      <role-name>admin</role-name>
      <role-name>n_osoblje</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <!-- Security constraints end -->

</web-app>
