<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
  
  <context:property-placeholder location="server.properties"/>
  <context:component-scan base-package="hr.fer.zemris.vhdllab" />
  <aop:aspectj-autoproxy />

  <bean id="httpConnectionManager" class="org.apache.commons.httpclient.SimpleHttpConnectionManager" />
  
  <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
    <constructor-arg ref="httpConnectionManager"/>
  </bean>
  
  <bean id="httpInvokerBeanParent" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean"
    abstract="true">
    <property name="httpInvokerRequestExecutor">
      <bean class="hr.fer.zemris.vhdllab.applets.main.HttpClientRequestExecutor">
        <constructor-arg ref="httpClient" />
      </bean>
    </property>
  </bean>
  
  <bean id="fileService" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/file.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.FileService" />
  </bean>
  
  <bean id="projectService" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/project.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.ProjectService" />
  </bean>
  
  <bean id="libraryFileService" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/libraryfile.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.LibraryFileService" />
  </bean>
  
  <bean id="userFileService" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/userfile.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.UserFileService" />
  </bean>
  
  <bean id="workspaceService" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/workspace.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.WorkspaceService" />
  </bean>
  
  <bean id="hierarchyExtractor" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/hierarchyextraction.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.HierarchyExtractor" />
  </bean>
  
  <bean id="circuitInterfaceExtractor" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/circuitinterfaceextraction.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.filetype.CircuitInterfaceExtractor" />
  </bean>
  
  <bean id="vhdlGenerator" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/vhdlgeneration.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.filetype.VhdlGenerator" />
  </bean>
  
  <bean id="compiler" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/compiler.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.Compiler" />
  </bean>
  
  <bean id="simulator" parent="httpInvokerBeanParent">
    <property name="serviceUrl" value="https://${host}:${port}/vhdllab/remoting/simulator.service" />
    <property name="serviceInterface" value="hr.fer.zemris.vhdllab.service.Simulator" />
  </bean>
  
</beans>