<?xml version="1.0" encoding="UTF-8"?>
<!--
  This is a server configuration file. It defines all file types that server
  recognizes and associates various actions based on those types.
-->
<server>
  <!-- A fileTypeMapping defines a file type that server recognizes.

    The following attribute is required for fileTypeMapping:
    type - a string describing file type. use only English alphabet and . (dot)
  -->

  <fileTypeMapping type="vhdl.source">
    <generator
      name="hr.fer.zemris.vhdllab.service.generators.SourceGenerator" />
    <extractor name="hr.fer.zemris.vhdllab.service.extractors.SourceExtractor" />
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.testbench">
    <!-- <generator name="hr.fer.zemris.vhdllab.service.generators.TestbenchGenerator" /> -->
    <!-- <extractor name="hr.fer.zemris.vhdllab.service.extractors.TestbenchExtractor" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.schema">
    <!-- <generator name="hr.fer.zemris.vhdllab.service.generators.SchemaGenerator" /> -->
    <!-- <extractor name="hr.fer.zemris.vhdllab.service.extractors.SchemaExtractor" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.automaton">
    <!-- <generator name="hr.fer.zemris.vhdllab.service.generators.AutomatonGenerator" /> -->
    <!-- <extractor name="hr.fer.zemris.vhdllab.service.extractors.AutomatonExtractor" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="preferences.user" />

</server>
