<?xml version="1.0" encoding="UTF-8"?>
<!--
  This is a server configuration file. It defines all file types that server
  recognizes and associates various actions based on those types.
-->
<server>
  <!-- A fileTypeMapping defines a file type that server recognizes.

    The following attribute is required for fileTypeMapping:
    type - a string describing file type. use only English alphabet and . (dot)
  -->

  <fileTypeMapping type="vhdl.source">
    <functionality type="generator"
      class="hr.fer.zemris.vhdllab.service.generators.SourceGenerator" />
    <functionality type="extractor"
      class="hr.fer.zemris.vhdllab.service.extractors.SourceExtractor" />
    <functionality type="dependency"
      class="hr.fer.zemris.vhdllab.service.dependencies.SourceDependency" />
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.testbench">
    <!-- <functionality type="generator"
      class="hr.fer.zemris.vhdllab.service.generators.TestbenchGenerator" /> -->
    <!-- <functionality type="extractor"
      class="hr.fer.zemris.vhdllab.service.extractors.TestbenchExtractor" /> -->
    <!-- <functionality type="dependency"
      class="hr.fer.zemris.vhdllab.service.dependencies.TestbenchDependency" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.schema">
    <!-- <functionality type="generator"
      class="hr.fer.zemris.vhdllab.service.generators.SchemaGenerator" /> -->
    <!-- <functionality type="extractor"
      class="hr.fer.zemris.vhdllab.service.extractors.SchemaExtractor" /> -->
    <!-- <functionality type="dependency"
      class="hr.fer.zemris.vhdllab.service.dependencies.SchemaDependency" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.automaton">
    <!-- <functionality type="generator"
      class="hr.fer.zemris.vhdllab.service.generators.AutomatonGenerator" /> -->
    <!-- <functionality type="extractor"
      class="hr.fer.zemris.vhdllab.service.extractors.AutomatonExtractor" /> -->
    <!-- <functionality type="dependency"
      class="hr.fer.zemris.vhdllab.service.dependencies.AutomatonDependency" /> -->
  </fileTypeMapping>

  <fileTypeMapping type="vhdl.predefined" />

  <fileTypeMapping type="preferences.user" />

</server>
